#footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #e0e864;
}
#artwork {
  font-style: italic;
  font-size: 10px;
  position: absolute;
  font-weight: 900;
  left: 50%;
  top: 40%;
}
