@import url("https://fonts.googleapis.com/css2?family=Eater&family=Slackey&display=swap");

nav {
  width: 100%;
  height: 110px;
  padding: 0;
  margin: 0;
}

#theMovieDbImage {
  width: 50%;
  height: 80px;
  /* text-align: center; */
}
/* #theMovieDbImage:hover {
  transform: scale(1.08);
} */
#reviewHeader {
  font-family: "Slackey", cursive;
  font-size: 20px;
  text-align: center;
}
#searchHeader {
  font-family: "Slackey", cursive;
  font-size: 20px;
  text-align: center;
}
#movieSearchApp {
  color: #fff;
  position: relative;
  font-family: "Eater", cursive;
  font-size: 45px;
  left: 100px;
  top: 20px;
}
/* #reviewHeader:hover {
  text-decoration: underline solid 3px gold;
} */

#reviewHeader,
#searchHeader,
#theMovieDbLink,
#theMovieDbImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#listItems {
  display: flex;
  height: 100%;
  width: 50%;
  left: 0%;
}

#listItems li {
  display: flex;
  height: 100%;

  /* justify-content: center; */
  background: #ddd;
  margin-left: 10px;
}
