#formContainerReview {
  left: 24%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: linear-gradient(#833ab4, #1dfddb, #fcb045);
  width: 540px;
  height: 380px;
}

input[type="text"] {
  position: absolute;
  width: 80%;
  height: 30px;

  border: solid slategray 3px;
}
textarea {
  position: absolute;
  width: 80%;
  height: 200px;
  left: 9px;
  top: 60px;
  border: solid slategray 3px;
}
input[type="submit"] {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 9px;
  top: 300px;
  text-align: center;
  border: solid slategray 3px;
  background-color: rgb(110, 47, 47);
  color: #fff;
}
