#formContainerReview {
  left: 24%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: linear-gradient(#833ab4, #1dfddb, #fcb045);
  width: 395px;
  height: 380px;
}

#formControl {
  position: absolute;
  left: 57%;
  top: 54%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 380px;
}
#inputTitle {
  position: absolute;
  width: 80%;
  height: 30px;
  left: 9px;
  border: solid slategray 3px;
}
#inputReviewBody {
  position: absolute;
  width: 80%;
  height: 200px;
  left: 9px;
  top: 60px;
  border: solid slategray 3px;
  word-break: break-all;
}
#submitReview {
  word-break: break-all;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 9px;
  top: 300px;
  text-align: center;
  border: solid slategray 3px;
  background-color: rgb(110, 47, 47);
  color: #fff;
}
