#formContainer {
  position: absolute;
  left: 18%;
  top: 42%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  box-shadow: 40px -16px teal;
  border-radius: 12px;
  width: 310px;
  height: 115px;
}
form {
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 100px;
}
#inputMovie {
  width: 200px;
  height: 40px;

  font-weight: lighter;
  position: sticky;
  left: 10px;
  top: 0px;
  padding: 5px;
}

#submitSearchForm {
  position: sticky;
  font-size: 10px;
  height: 20px;
  width: 120px;
  left: 10px;
}
