.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 5px;
}
.a {
  font-size: 20px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1;
  background-color: darkorange;
}
.b {
  font-size: 20px;
  grid-column: 2;
  grid-row: 1;
  background-color: yellow;
  padding: 10px;
}
.c {
  font-size: 20px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2;
  background-color: white;
}
.d {
  grid-column: 2;
  grid-row: 2;
}
