input[type="text"] {
  width: 20%;
  height: 50px;
  background-color: bisque;
  color: #808080;
  font-weight: bolder;
  position: relative;
  left: 60px;
  padding: 10px;
  font-size: 2em;
}
.btn-primary {
  height: 60px;
  width: 200px;
  top: 10%;
  padding: 5px;
  margin: 70px;
  font-size: 2em;
  position: right;
}
