@import url("https://fonts.googleapis.com/css2?family=Barrio");

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 250px 200px;
  grid-auto-rows: auto;
  grid-template-areas:
    "title title "
    "poster  synopsis "
    "rating release ";
  grid-gap: 10px;
  width: 450px;
  height: 100%;
  left: 10%;
  top: 50%;
  transform: translate(500px, 62px);
  background-color: linear-gradient(#f3904f, 3b4371);
}
#title {
  font-size: 18px;
  text-align: center;
  grid-area: title;
  background-color: darkorange;
  font-family: "Barrio", cursive;
  height: 60px;
  padding: 15px;
}
#synopsis {
  font-size: 12px;
  grid-area: synopsis;
  background-color: yellow;
  padding: 10px;
  font-family: "Barrio", cursive;
}
#rating {
  font-family: "Barrio", cursive;
  font-size: 14px;
  text-align: center;
  grid-area: rating;
  background-color: white;
  top: 25px;
  width: 100%;
}
#poster {
  grid-area: poster;
}
#releaseDate {
  grid-area: release;
  font-family: "Barrio", cursive;
  font-size: 14px;
  background-color: powderblue;
  text-align: center;
}
